<h1>Page#edit</h1>
<p>Find me in app/views/page/edit.html.erb</p>

<textarea class="ckeditor" id="editor1" name="editor1">Text Text</textarea>

<script>
  CKEDITOR.replace( 'editor1', {
    filebrowserBrowseUrl: 'http://localhost:3000/page/list', 
    filebrowserWindowWidth: 400
    // filebrowserBrowseUrl: ' https://cloudinary-a.akamaihd.net/dh99yivu2 '
    // filebrowserImageBrowseUrl: ' https://cloudinary-a.akamaihd.net/dh99yivu2 ',
    // filebrowserUploadUrl: 'http://api.cloudinary.com/v1_1/dh99yivu2/image/upload',
    // filebrowserImageUploadUrl: 'http://api.cloudinary.com/v1_1/dh99yivu2/image/upload'
  });
</script>
