<h1>Page#list</h1>
<p>Find me in app/views/page/list.html.erb</p>

<ul>
<% @images.each do |image| %>
  <li>
    <%= link_to "javascript:void();" do %>
      <%= image_tag asset_path(image) %>
    <% end -%>
  </li>
<% end -%>
</ul>
  
